{% extends 'PersonalArea/base_leader.html' %}
{% load static %}

{% block content_leader %}


<div class="modal fade" id="work_spaces" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-workspace">
                <form action="{% url 'leader_project' %}" autocomplete=off name="platform" method="post" id="form-save">
                    {% csrf_token %}
                    <h5 class="modal-title" id="exampleModalLabel">Рабочие пространства</h5>
                    <label for="message">Введите ссылку на рабочее пространство:</label>
                    <textarea id="message" name="url_space" style="width: 100%; resize: none;">
                                </textarea>
                    <div class="modal-footer">
                        <div class="modal-footer-close-btn"
                             style="grid-template-columns: auto auto; column-gap: 25px;">
                            <button type="button" class="btn btn-secondary btn-close-modal"
                                    data-dismiss="modal"
                                    aria-label="Close" style="width: 100%">
                                Закрыть
                            </button>
                            <input type="submit" class="btn btn-secondary btn-close-modal" value="Сохранить"
                                   form="form-save" name="save-url_space"
                                   style="width: 100%">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-calendar" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 90%;">
        <div class="modal-content" style="padding: 20px;">
            <div class="modal-body"
                 style="display: grid; grid-template-columns: auto auto; border: 3.3965px dashed #000000; border-radius: 23.965px;">
                <form action="#" autocomplete=off name="platform" method="post"
                      id="form-calendar">
                    {% csrf_token %}
                    <div class="log-body">
                        <div class="student-info" style="overflow-y: auto;overflow-x: auto;max-height: 600px; ">
                            {% if page_obj|length == 0 %}
                            <h2 style=" font-size: 1.5em; text-align: center; margin-bottom: 0px;">На данный момент
                                у Вашей команды не было ни одной встречи </h2>
                            {% endif %}
                            {% if page_obj|length != 0 %}
                            <!--Цифры это status заявки
                            
                            status (-1) - заявка ждет подтверждения (красный цвет)
                            status (0) - заявка подтверждения, но что встреча состоялась или нет не известно (нейтральный какой-то)
                            status (1) - встреча состоялась (зеленый)
                            -->
                            <table style="width: 95%; font-size: 1.1em;">
                                <tbody>
                                <tr style="height: 12%;">
                                    <th>Дата проведения</th>
                                    <th>Место проведения</th>
                                    <th>С кем</th>
                                    <th>Описание</th>
                                    <th>Статус</th>
                                </tr>
                                {% for meet in page_obj %}
                                <tr>
                                    <th>{{meet.time}}</th>
                                    <th> {{meet.place}}</th>
                                    <th> {{meet.who_text}}</th>
                                    <td style="border-radius: 0 0 10px 0; width: 150px; background-color: #F3E6FE; border-left: 0;">
                                        <div class="desc_calendar">
                                            <span style="text-align: left;"> {{meet.desc}} </span>
                                            {% comment %}
                                            <button type="button" class="edit-btn" data-toggle="modal"
                                                    data-target="#myModal_{{meet.id}}"
                                                    style="margin-left: auto; padding: 0;">
                                                <img src="{% static 'PersonalArea/img/edit-btn.png' %}">
                                            </button>
                                            {% endcomment %}
                                        </div>
                                    </td>
                                    {% if not meet.accept_my and meet.status == '-1' %}
                                    <th style="padding: 7px;"><div><span style="color: orange;">Ожидается подтверждение</span></div>
                                        <button type="submit" class="btn btn-secondary" value="{{meet.id_meet}}"
                                                form="form-calendar" name="reject_meet"
                                                style="width: 100%; padding: 5px; margin-left: auto; margin-right: auto;">
                                            Удалить
                                        </button>
                                    </th>
                                    {% elif meet.status == '-1' %}
                                    <th class="meet-submit">
                                        <div style="display: grid; grid-template-columns: 1fr; row-gap: 10px;">
                                        <button type="submit" class="btn btn-secondary" value="{{meet.id_meet}}"
                                                form="form-calendar" name="accept_meet"
                                                style="width: 100%; padding: 5px; margin-left: auto; margin-right: auto;">
                                            Принять
                                        </button>
                                        <button type="submit" class="btn btn-secondary" value="{{meet.id_meet}}"
                                                form="form-calendar" name="reject_meet"
                                                style="width: 100%; padding: 5px; margin-left: auto; margin-right: auto;">
                                            Отклонить
                                        </button>
                                        </div>
                                    </th>
                                    {% elif meet.status == '0' %}
                                    <th class="meet-submit">
                                        <button type="submit" class="btn btn-secondary" value="{{meet.id_meet}}"
                                                form="form-calendar" name="accept_meet"
                                                style="width: 100%; padding: 5px; margin-left: auto; margin-right: auto;">
                                            Встреча была
                                        </button>
                                        <button type="submit" class="btn btn-secondary" value="{{meet.id_meet}}"
                                                form="form-calendar" name="reject_meet"
                                                style="width: 100%; padding: 5px; margin-left: auto; margin-right: auto;">
                                            Удалить встречу
                                        </button>
                                    </th>
                                    {% else %}
                                    <td style="color: green;">Встреча состоялась</td>
                                    {% endif %}
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    {% comment %} Отображение списка страниц для истории встреч {% endcomment %}
                    {% if page_obj|length != 0 %}
                    <nav class="list-pages">
                        <ul>
                            {% if page_obj.has_previous %}
                            <li class="page-num">
                                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                            </li>
                            {% endif %}
                            {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                            <li class="page-num page-num-selected">{{ p }}</li>
                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page-num">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-num">
                                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </form>
                <div class="modal-section">
                    <div class="logo">
                        <img class="logo-img" src="{% static 'PersonalArea/img/logo.svg' %}" alt="logo">
                        <span class="logo-description">HELLO <br> TEAM! </span>
                        <img class="triangle" src="{% static 'PersonalArea/img/triangle.png' %}" alt="triangle">
                    </div>
                    <div style="display: grid; row-gap: 15px;">
                        <input type="submit" class="btn btn-secondary" data-dismiss="modal"
                               value="Закрыть" name="close-btn"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#add_meet_other_team"
                                style="width: 100%; margin-left: auto; margin-right: auto;">
                            Предложить встречу другой команде
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#add_meet_curator"
                                style="width: 100%; margin-left: auto; margin-right: auto;">
                            Предложить встречу куратору
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#add_meet_customer"
                                style="width: 100%; margin-left: auto; margin-right: auto;">
                            Занести встречу с заказчиком
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="log-body" style="padding: 0;">
    <div class="tables-container">
        <div class="student-info">
            <div class="anc-container-team" style="grid-template-columns: 1fr">
                <table style="width: 100%; margin: 0;">
                    <tbody>
                    <tr>
                        <td style="width: 50%; border-radius: 10px 0 0 0;border-bottom: 0;border-right: 0; background-color: #F3E6FE;">
                            Тема проекта
                        </td>
                        <td style="border-radius: 0 10px 0 0;border-bottom: 0; background-color: #F3E6FE;">
                            {{themes}}
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 0; background-color: #F3E6FE;">Описание
                            темы
                        </td>
                        <td style="background-color: #F3E6FE;"> {{desc}}</td>
                    </tr>
                    <tr>
                        <td style="border-right: 0; border-top: 0; background-color: #F3E6FE;">Заказчик
                        </td>
                        <td style="background-color: #F3E6FE;border-top: 0;"> {{customer_name}}</td>
                    </tr>
                    <tr>
                        <td style="border-right: 0; border-top: 0; background-color: #F3E6FE; ">Рабочее пространство
                            <button type="button" class="edit-btn edit-task-btn" data-toggle="modal"
                                    data-target="#work_spaces" style="margin-left: auto; padding: 0;">
                                <img class="edit-btn" src="{% static 'PersonalArea/img/edit-btn.png' %}">
                            </button>
                        </td>
                        <td class="link-container" style="border-top: 0;"><a href="{{url_space}}"> {{url_space}}</a>
                        </td>
                    </tr>
                    {% if calendar_see %}
                    <tr>
                        <td colspan="2" style="border-top: 0;"><span
                                data-toggle="modal"
                                data-target="#modal-calendar" class="text-button">Посмотреть календарь встреч</span>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="student-info mobile">
            <div class="anc-container-team" style="grid-template-columns: 1fr">
                <table style="width: 100%; margin: 0;">
                    <tbody>
                    <tr>
                        <th style="width: 50%; border-bottom: 0;">
                            Тема проекта
                        </th>
                    </tr>
                    <tr>
                        <td style="border-bottom: 0;">
                            {{themes}}
                        </td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 0;">Описание
                            темы
                        </th>
                    </tr>
                    <tr>
                        <td style=""> {{desc}}</td>
                    </tr>
                    <tr>
                        <th style="border-top: 0;">Заказчик
                        </th>
                    </tr>
                    <tr>
                        {% if customer_name != '' %}
                        <td style="background-color: #F3E6FE;border-top: 0;"> {{customer_name}}</td>
                        {% else %}
                        <td style="color: red;border-top: 0;">Заказчик не назначен</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th style="border-top: 0; background-color: #F3E6FE; ">Рабочее пространство
                            <button type="button" class="edit-btn edit-task-btn" data-toggle="modal"
                                    data-target="#work_spaces" style="margin-left: auto; padding: 0;">
                                <img class="edit-btn" src="{% static 'PersonalArea/img/edit-btn.png' %}">
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <td class="link-container" style="border-top: 0;"><a href="{{url_space}}"> {{url_space}}</a>
                        </td>
                    </tr>
                    {% if calendar_see %}
                    <tr>
                        <td colspan="2" style="border-top: 0;"><span
                                data-toggle="modal"
                                data-target="#modal-calendar" class="text-button">Посмотреть календарь встреч</span>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <table style="width: 100%; margin: 0;">
                    <tbody>
                    <tr>
                        <th style="border-radius: 10px 0 0 0; background-color: #F3E6FE;width: 50%;">Куратор проекта
                        </th>
                    </tr>
                    <tr>
                        {% if curator_fio|length != 0 %}
                        <td> {{curator_fio}}</td>
                        {% endif %}
                        {% if curator_fio|length == 0 %}
                        <td> Не назначен</td>
                        {% endif %}

                    </tr>
                    <tr>
                        <th style="width: 50%;">Почта куратора</th>
                    </tr>
                    <tr>
                        {% if curator_fio|length != 0 %}
                        <td> {{curator_email}}</td>
                        {% endif %}
                        {% if curator_fio|length == 0 %}
                        <td> Не назначен</td>
                        {% endif %}

                    </tr>
                    <tr>
                        <th style="width: 50%;">Дата встречи с куратором</th>
                    </tr>
                    <tr>
                        <td>{{time_curator}}</td>
                    </tr>
                    <tr>
                        <th style="width: 50%;">Назначить площадку</th>
                    </tr>
                    <tr>
                        <td style="width: 50%; padding: 15px;">
                            <div class="duty-student">
                                <span> {{place_curator}} </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display: grid; grid-template-columns: 1fr;">
            <div class="student-info" style="">
                <table style="width: 100%; margin: 0;">
                    <tbody>
                    <tr>
                        <td style="border-radius: 10px 0 0 0; background-color: #F3E6FE;width: 50%;">Куратор проекта
                        </td>
                        {% if curator_fio|length != 0 %}
                        <td> {{curator_fio}}</td>
                        {% endif %}
                        {% if curator_fio|length == 0 %}
                        <td> Не назначен</td>
                        {% endif %}

                    </tr>
                    <tr>
                        <td style="width: 50%;">Почта куратора</td>
                        {% if curator_fio|length != 0 %}
                        <td> {{curator_email}}</td>
                        {% endif %}
                        {% if curator_fio|length == 0 %}
                        <td> Не назначен</td>
                        {% endif %}

                    </tr>
                    <tr>
                        <td style="width: 50%;">Дата встречи с куратором</td>
                        <td>{{time_curator}}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Назначить площадку</td>
                        <td style="width: 50%; padding: 15px;">
                            <div class="duty-student">
                                <span> {{place_curator}} </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add_meet_other_team" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-dashed" style="padding-top: 5px;">
                    <h5 style=" font-size: 1.5em; text-align: center; margin-bottom: 0px;">Встреча с другой
                        командой</h5>
                    <form action="{% url 'leader_project' %}" autocomplete=off name="platform"
                          method="post"
                          id="form-save-team" style="margin-top: 10px; margin-bottom: 10px;">
                        {% csrf_token %}
                        <label for="message2" style="margin-bottom: 15px;">Номер команды:</label>
                        <p>
                            <select name="select" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example" size="3" multiple>
                                {% for team in other_teams %}
                                <option value="{{team.leader_id}}"> Команда {{team.number}}, Лидер - {{team.fio}}, Тема
                                    -
                                    {{team.themes}}
                                </option>
                                {% endfor %}
                            </select>
                        </p>
                        <label for="message2" style="margin-bottom: 15px;">Время:</label>
                        <input type="datetime-local" name='time'>
                        <div>
                            <label for="message3" style="margin-bottom: 15px;"
                                   class="textarea-message">Площадка:</label>
                            <textarea id="message3" name="place"
                                      style="width: 100%; resize: none;"></textarea>
                        </div>
                        <div>
                            <label for="message_description" class="textarea-message">Цель встречи:</label>
                            <textarea id="message_description" name="desc"
                                      style="width: 100%; resize: none;"></textarea>
                        </div>
                    </form>
                    <div class="modal-footer-close-btn"
                         style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 30px;">
                        <input type="submit" class="btn btn-secondary" value="Сохранить"
                               form="form-save-team" name="save_team"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal"
                               value="Закрыть" name="close-btn"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_meet_curator" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-dashed" style="padding-top: 5px;">
                    <h5 style=" font-size: 1.5em; text-align: center; margin-bottom: 0px;">Встреча с куратором</h5>
                    <form action="{% url 'leader_project' %}" autocomplete=off name="platform"
                          method="post"
                          id="form-save-curator" style="margin-top: 10px; margin-bottom: 10px;">
                        {% csrf_token %}
                        <label for="message2" style="margin-bottom: 15px;">Время:</label>
                        <input type="datetime-local" name='time'>
                        <div>
                            <label for="message3" style="margin-bottom: 15px;"
                                   class="textarea-message">Площадка:</label>
                            <textarea id="message3" name="place"
                                      style="width: 100%; resize: none;"></textarea>

                        </div>
                        <div>
                            <label for="message_description" class="textarea-message">Цель встречи:</label>
                            <textarea id="message_description" name="desc"
                                      style="width: 100%; resize: none;"></textarea>

                        </div>
                    </form>
                    <div class="modal-footer-close-btn"
                         style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 30px;">
                        <input type="submit" class="btn btn-secondary" value="Сохранить"
                               form="form-save-curator" name="save_curator"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal"
                               value="Закрыть" name="close-btn"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="add_meet_customer" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-dashed" style="padding-top: 5px;">
                    <h5 style=" font-size: 1.5em; text-align: center; margin-bottom: 0px;">Встреча с
                        заказчиком</h5>
                    <form action="{% url 'leader_project' %}" autocomplete=off name="platform"
                          method="post"
                          id="form-save-customer" style="margin-top: 10px; margin-bottom: 10px;">
                        {% csrf_token %}
                        <label for="message2" style="margin-bottom: 15px;">Время:</label>
                        <input type="datetime-local" name='time'>
                        <div>
                            <label for="message3" style="margin-bottom: 15px;"
                                   class="textarea-message">Площадка:</label>
                            <textarea id="message3" name="place"
                                      style="width: 100%; resize: none;"></textarea>

                        </div>
                        <div>
                            <label for="message_description" class="textarea-message">Цель встречи:</label>
                            <textarea id="message_description" name="desc"
                                      style="width: 100%; resize: none;"></textarea>

                        </div>
                    </form>
                    <div class="modal-footer-close-btn"
                         style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 30px;">
                        <input type="submit" class="btn btn-secondary" value="Сохранить"
                               form="form-save-customer" name="save_customer"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal"
                               value="Закрыть" name="close-btn"
                               style="width: 100%; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
var textArea = document.querySelectorAll("textarea");
let save_btn = document.querySelectorAll('[name="save-btn"]');
let symbols = document.querySelectorAll('.show-symbol-length');

for (let i = 0; i < textArea.length; i++)
{

textArea[i].value = '';
textArea[i].oninput = function () {
 symbols[i].textContent = textArea[i].value.length + "/140";
 if (textArea[i].value.length >= 140)
    {
        if (i == 2)
        {
            save_btn[i+1].disabled = true;
            symbols[i].style.color = "red";
        }
        else
        {
            save_btn[i].disabled = true;
            symbols[i].style.color = "red";
        }
    }
    else
    {

        if (textArea[2].value.length < 140 && textArea[3].value.length < 140)
        {
            save_btn[3].disabled = false;
        }
        else if (i != 2 && i != 3)
        {
            save_btn[i].disabled = false;
        }
        symbols[i].style.color = "black";
    }
}
};












































</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
        integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock content_leader %}
